name: Build and Push NodeJS Service

on:
  push:
    paths:
      - 'catalogue/**'
    branches:
      - main
  workflow_dispatch:

env:
  IMAGE_NAME: catalogue
  GIT_TAG: v1.1.0

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      # Authenticate to GCP
      - name: Authenticate to GCP
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      # Setup gcloud
      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}

      # Configure Docker to authenticate with Artifact Registry
      - name: Configure Docker
        run: |
          gcloud auth configure-docker us-central1-docker.pkg.dev

      # Build Docker Image
      - name: Build Docker Image
        run: |
          docker build \
            -t us-central1-docker.pkg.dev/solar-idea-466712-c7/catalogue/${{ env.IMAGE_NAME }}:${{ env.GIT_TAG }} \
            ./cart

      # Push Docker Image
      - name: Push Docker Image
        run: |
          docker push \
            us-central1-docker.pkg.dev/solar-idea-466712-c7/catalogue/${{ env.IMAGE_NAME }}:${{ env.GIT_TAG }}
