name: Build NodeJS Service

on:
  push:
    paths:
      - 'services/nodejs/**'
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: docker/setup-buildx-action@v2

      - name: Build Docker image
        run: |
          docker build -t cart:latest cart/

